
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 5px;
}

h1 {
    margin: 0;
}

.taches {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row
}

.color {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
}

.p1,
.p2 {
    font-weight: bold;
}

.Telephone {
    margin-top: 10px;
}

.button1 {
    background-color: red;
    color: #fff;
    border: none;
    margin-top: 6px;
    padding: 10px 20px;
    cursor: pointer;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
